<a href="https://colab.research.google.com/github/jpawlata/atp-bar-chart-race/blob/main/atp_bar_chart_race.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TOP 10 - ATP Singles Ranking (1996 - 2021) - Bar Chart Race

In [1]:
!pip install git+https://github.com/programiz/bar_chart_race.git@master

Collecting git+https://github.com/programiz/bar_chart_race.git@master
  Cloning https://github.com/programiz/bar_chart_race.git (to revision master) to /tmp/pip-req-build-qjbi8r19
  Running command git clone -q https://github.com/programiz/bar_chart_race.git /tmp/pip-req-build-qjbi8r19
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from bar-chart-race==0.2.0) (1.1.5)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from bar-chart-race==0.2.0) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race==0.2.0) (2.4.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race==0.2.0) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race==0.2.0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race==0.2.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race==0.2.0) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.1->bar-chart-race==0.2.0) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar-chart-race==0.2.0) (2018.9)
Building wheels for collected packages: bar-chart-race
  Building wheel for bar-chart-race (setup.py) ... done
  Created wheel for bar-chart-race: filename=bar_chart_race-0.2.0-py3-none-any.whl size=181171 sha256=14617d1b021808844b2c0b32c6e86794aaaeeba19aaa0ad597c702767fe910c5
  Stored in directory: /tmp/pip-ephem-wheel-cache-n8rawnao/wheels/15/43/27/f77066fb4290de221c173a9cb01c81696afe20f1bd4243a05d
Successfully built bar-chart-race
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.2.0

In [2]:
import pandas as pd
import bar_chart_race as bcr

In [3]:
# Get the data
df = pd.read_csv('https://media.githubusercontent.com/media/jpawlata/ATP_Ranking/main/data/atp_ranking.csv')

In [4]:
# Take the first 10 rows for each date (15 top ATP rankings) from the dataset
df = df.groupby('Date').head(10).reset_index(drop = True)

In [5]:
df.head(15)

          Date Ranking  Move  ... Tourn Played Points Dropping  Next Best
0   2021-08-02       1   NaN  ...           20             0.0          0
1   2021-08-02       2   NaN  ...           26             0.0          0
2   2021-08-02       3   NaN  ...           17             0.0          0
3   2021-08-02       4   NaN  ...           30             0.0          0
4   2021-08-02       5   NaN  ...           27             0.0          0
5   2021-08-02       6   NaN  ...           23             0.0          0
6   2021-08-02       7   NaN  ...           30             0.0          0
7   2021-08-02       8   NaN  ...           26             0.0          0
8   2021-08-02       9   NaN  ...           17             0.0          0
9   2021-08-02      10   NaN  ...           35             0.0          0
10  2021-07-26       1   NaN  ...           20             0.0          0
11  2021-07-26       2   NaN  ...           26             0.0          0
12  2021-07-26       3   NaN  ...           17             0.0          0
13  2021-07-26       4   NaN  ...           30             0.0          0
14  2021-07-26       5   NaN  ...           27             0.0          0

[15 rows x 10 columns]

In [6]:
# Keep the important columns only
columns = ['Date', 'Player', 'Points']
df = df[columns]

In [7]:
# Convert Date into datetime format
df.Date = pd.to_datetime(df.Date, format = "%Y-%m-%d")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21590 entries, 0 to 21589
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    21590 non-null  datetime64[ns]
 1   Player  21590 non-null  object
 2   Points  12220 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 506.1+ KB

In [9]:
# Check null values
df.isnull().sum()

Date         0
Player       0
Points    9370
dtype: int64

In [10]:
# Drop rows with null Points
df = df.dropna(subset = ['Points'])

In [12]:
# Check if any date has 0 points (that might be wrong data)
df.Points.isin([0, 0.0]).any()

True

In [13]:
# Check the rows with 0.0 points
df.loc[df.Points.isin([0, 0.0])]

            Date              Player  Points
11620 1997-09-29        Pete Sampras     0.0
11621 1997-09-29       Michael Chang     0.0
11622 1997-09-29      Patrick Rafter     0.0
11623 1997-09-29  Yevgeny Kafelnikov     0.0
11624 1997-09-29         Carlos Moya     0.0
11625 1997-09-29      Sergi Bruguera     0.0
11626 1997-09-29        Marcelo Rios     0.0
11627 1997-09-29    Goran Ivanisevic     0.0
11628 1997-09-29       Alex Corretja     0.0
11629 1997-09-29       Greg Rusedski     0.0

In [14]:
# Remove rows with Points = 0.0
df = df[df.Points != 0.0]

In [16]:
# Check
df.Points.isin([0, 0.0]).any()

False

In [17]:
# Transform data for bar chart race
dfp = df.pivot(index = 'Date', columns = 'Player', values = 'Points')

In [18]:
dfp.head()

Player      Albert Costa  Alex Corretja  ...  Wayne Ferreira  Yevgeny Kafelnikov
Date                                     ...
1996-08-12           NaN            NaN  ...          2275.0              3213.0
1996-08-19           NaN            NaN  ...          2334.0              3178.0
1996-08-26           NaN            NaN  ...          2701.0              3059.0
1996-09-02           NaN            NaN  ...          2701.0              3059.0
1996-09-09           NaN            NaN  ...          2701.0              3059.0

[5 rows x 98 columns]

In [19]:
# Fill NaN with 0
dfp = dfp.fillna(0)

In [20]:
dfp.head()

Player      Albert Costa  Alex Corretja  ...  Wayne Ferreira  Yevgeny Kafelnikov
Date                                     ...
1996-08-12           0.0            0.0  ...          2275.0              3213.0
1996-08-19           0.0            0.0  ...          2334.0              3178.0
1996-08-26           0.0            0.0  ...          2701.0              3059.0
1996-09-02           0.0            0.0  ...          2701.0              3059.0
1996-09-09           0.0            0.0  ...          2701.0              3059.0

[5 rows x 98 columns]

In [ ]:
# Create bar chart race
bcr.bar_chart_race(
    df = dfp, 
    filename = 'atp_ranking.mp4',
    fig_kwargs = {
        'figsize': (26, 15),
        'dpi': 120,
        'facecolor': '#FFFFFF'
    },
    title = {
        'label': 'TOP 10 - ATP Singles Ranking (1996 - 2021)',
        'size': 50, 
        'weight': 'bold',
        'pad': 30,
        'color': '#797979',
        'family': 'DejaVu Sans'
    },
    n_bars = 10, 
    fixed_max = False,
    bar_kwargs = {
        'alpha': .9, 
        'lw': 0.9
    },
    colors = 'pastel', 
    filter_column_colors = True,
    steps_per_period = 20,
    period_length = 600,
    tick_label_font = {
        'size': 20,
        'family': 'DejaVu Sans',
        'weight': 'bold',
        'color': '#797979'
    },
    bar_label_font = {
        'size': 20,
        'family': 'DejaVu Sans',
        'color': '#797979'
    },
    shared_fontdict = {
        'family': 'DejaVu Sans', 
        'color': '#797979',
        'size': 25
    },
    period_label = {
        'x': .95, 
        'y': .15, 
        'ha': 'right', 
        'va': 'center', 
        'size': 30,
        'color': '#797979',
        'weight': 'bold',
        'family': 'DejaVu Sans' 
    },
    period_template = f'Date:  ' + '%B %d, %Y' 
)